body *, ul, li {
  font-family: sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

li.active {
  font-weight: bold;
  border-inline-start: 4px solid cadetblue;
}

body {
  margin: 0;
}

nav {
  padding: 0 1em ;
}

app-root > nav {
  display: flex;
  gap: 1em;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid cadetblue;
}
